In [28]:
import pandas as pd

In [29]:
dfsalaries = pd.read_csv('C:/Users/Public/lmaaya/projects/python/JupiterNoteBook/data/salaries.csv')
dfsalaries.head(2)

  company              job     degree  salary_more_than_100k
0  google  sales executive  bachelors                      0
1  google  sales executive    masters                      0

In [30]:
inputs = dfsalaries.drop('salary_more_than_100k', axis = 'columns')
target = dfsalaries['salary_more_than_100k']
#target

## Create dummy variables for categorical variables

In [31]:
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [32]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_company.fit_transform(inputs['job'])
inputs['degree_n'] = le_company.fit_transform(inputs['degree'])
inputs.head(3)

  company               job     degree  company_n  job_n  degree_n
0  google   sales executive  bachelors          2      2         0
1  google   sales executive    masters          2      2         1
2  google  business manager  bachelors          2      0         0

In [33]:
inputs_n = inputs.drop(['company', 'job', 'degree'], axis='columns')
inputs_n.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

## Train the classifier

In [34]:
from sklearn import tree

In [35]:
model = tree.DecisionTreeClassifier(criterion='gini')

In [36]:
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [37]:
model.score(inputs_n, target)

1.0

In [38]:
model.predict([[2, 2, 1], [2, 0, 1]])

C:\Users\PC\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0, 1], dtype=int64)